<div class="contend">
  <div class="header">
    <h2>Módulo de importar</h2>
    <button>Descargar formato</button>
    <button (click)="procesar()">Procesar</button>
  </div>

  <div class="contend-body">
    <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" />

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Data</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data" [ngClass]="{ 'procesado': item.is_processed }">
          <td>{{ item?.id }}</td>
          <td>
            <ng-container *ngIf="item.data">
              <span *ngFor="let key of objectKeys(item.data); let last = last">
                <strong>{{ key }}</strong>: {{ item.data[key] }}<span *ngIf="!last">, </span>
              </span>
            </ng-container>
          </td>
          <td>{{ item.acciones }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
